<form (ngSubmit)="onSubmit()" >
    <div class="input-group">
        <label>Initial Investment</label>
        <input type="number" id="initialInvestment" name="initialInvestment" [(ngModel)]="initialInvestment" />
    
        <label>Expected Return</label>
        <input />
    </div>
    <div class="input-group">
        <label>Anual Investment</label>
        <input type="int" id="anualInvestment" name="anualInvestment" [(ngModel)]="anualInvestment" />

        <label>Duration</label>
        <input />
    </div>
        <button (click)="setData()"> Calculate </button>
</form>
